h1{
    font-size: 50px;
    font-family: Poppins;
    color: rgb(9, 9, 49);
    margin: 0;
}
.header{
    color:tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 2px;
    padding-left: 1px;

}
.half-width img{
    width:80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( 35deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
h2{
    font-size: 40px;
    font-family: Poppins;
    color: rgb(9, 9, 49);
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.project-image{
    width: 30%;
    float: left;
    margin: 10px;
    padding: 5px;
    box-shadow: 10px 10px 15px gray;
    border-radius: 25px;
    height: 80%;
}
.project-image img{
    width: 100%;
    
}
.project{
    background: rgb(245, 245, 245)
 
}

h3{
    color: rgb(9, 9, 49);
    font-size: 25px;
}
.footer-image{
    background-image: url("images/Group_33094_1.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.footer-text{
    float: left;
    margin-left: 23%;
    padding-top: 14%;
    color: white;
    font-size: 40px;

}
.button{
    text-decoration: none;
    background-image: linear-gradient( 35deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.footer-button{
    float:right;
    margin-right: 23% ;
    padding-top: 19%;
}